.chart {
  flex: 4;

  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  color: gray;
  padding: 1rem;

  .title {
    margin-bottom: 2rem;
  }

  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
}
