.single {
  display: flex;
  width: 100%;
  .singleContainer {
    flex: 6;

    .title {
      font-size: 1.6rem;
      color: rgb(194, 194, 194);
      margin-bottom: 2rem;
    }

    .top {
      display: flex;
      padding: 2rem;
      gap: 2rem;

      .left {
        flex: 1;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;

        .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          font-size: 1.2rem;
          color: #7451f8;
          background-color: #7551f818;
          border-radius: 0px 0px 0px 5px;
          cursor: default;

          &:hover {
            font-weight: bold;
          }
        }

        .item {
          display: flex;
          gap: 2rem;

          .itemImg {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            .itemTitle {
              margin-bottom: 1rem;
              color: #555;
            }

            .itemDetail {
              font-size: 1.4rem;
              margin-bottom: 1rem;
              .itemKey {
                font-weight: 600;
                color: gray;
                margin-right: 5px;
              }

              .itemValue {
                font-weight: 300;
              }
            }
          }
        }
      }

      .right {
        flex: 2;
      }
    }

    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
    }
  }
}
