.widget {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 5px;
  height: 100px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 1.4rem;
      color: rgb(160, 160, 160);
    }
    .counter {
      font-size: 2.8rem;
      font-weight: 300;
    }

    .link {
      font-size: 1.2rem;
      border-bottom: 1px solid gray;
      width: max-content;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 1.4rem;

      &.positive {
        color: green;
      }

      &.negative {
        color: red;
      }
    }
    .icon {
      align-self: flex-end;
      font-size: 1.8rem;
      padding: 3px;
      border-radius: 5px;
    }
  }
}
