.navbar {
  height: 5rem;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 1.4rem;

  .wrapper {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .search {
      display: flex;
      align-items: center;
      border: 1px solid lightgray;
      padding: 3px;
    }

    input {
      border: none;
      outline: none;
      background-color: transparent;

      &:placeholder-shown {
        font-size: 1.2rem;
      }
    }
    .items {
      display: flex;
      align-items: center;

      .item {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 2rem;

        .icon {
          font-size: 2rem;
        }

        .avatar {
          width: 36px;
          height: 36px;
          border-radius: 50%;
        }

        .counter {
          width: 1.5rem;
          height: 1.5rem;
          background-color: red;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          border-radius: 50%;
          font-size: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}
