.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;

  .top {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  .logo {
    font-size: 2rem;
    font-weight: 700;
    color: #6439ff;
  }

  hr {
    border: 0.5px solid rgb(231, 228, 228);
  }

  .center {
    padding-left: 1rem;
  }

  ul {
    .title {
      font-size: 1rem;
      font-weight: bold;
      color: #999;
      text-transform: uppercase;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
    }

    li {
      display: flex;
      align-items: center;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: #ece8ff;
      }

      .icon {
        font-size: 1.8rem;
        color: #7451f8;
      }

      span {
        font-size: 1.3rem;
        font-weight: 600;
        color: #888;
        margin-left: 1rem;
      }
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  margin: 10px;

  .colorOption {
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #7451f8;
    cursor: pointer;
    margin: 5px;

    &:nth-child(1) {
      background-color: whitesmoke;
    }

    &:nth-child(2) {
      background-color: #333;
    }

    &:nth-child(3) {
      background-color: darkblue;
    }
  }
}
