.new {
  display: flex;
  width: 100%;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;

      h2 {
        color: lightgray;
        font-size: 2rem;
      }
    }

    .bottom {
      .left {
        flex: 1;
        text-align: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        flex: 2;
        form {
          display: flex;
          flex-wrap: wrap;
          gap: 3rem;
          justify-content: space-around;

          .formInput {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 1rem;

              .icon {
                width: 2.4rem;
                height: 2.4rem;
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }
          }
          button {
            width: 150px;
            padding: 1rem;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: default;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
