.dataTable {
  .MuiDataGrid-root,
  .MuiTablePagination-displayedRows {
    font-size: 1.4rem;
  }

  height: 90vh;
  padding: 2rem;

  .datatableTitle {
    width: 100%;
    font-size: 2.4rem;
    display: flex;
    justify-content: space-between;
    color: gray;
    margin-bottom: 1rem;
    align-items: center;

    .link {
      text-decoration: none;
      color: green;
      border: 1px solid green;
      font-size: 1.6rem;
      padding: 5px;
      border-radius: 5px;
      cursor: default;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }

    &.passive {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }

    &.pending {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 10px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.559);
      cursor: default;
    }

    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: default;
    }
  }
}
